
{% if items == [] %}
  <h1> ERROR: There are no values to display in the database! </h1>
{% else %}
{% for item in items %}
  <h1> List of open times: {{ item.name }} </h1>
  <h1> List of close times: {{ item.description }} <h1>
{% endfor %}
{% endif %}